<?xml version="1.0"?>
<launch>
     


     <arg name="dbg_args"   default="gdb -ex run --args"/>
     <arg name="debug_args"   default=""/>

     <node pkg="stair_detection" type="stair_detection_ros" name="stair_detection_ros_node" launch-prefix="$(arg debug_args)" output="screen">
          <param name="update_rate"            value="10"/>
          <param name="rgb_image_topic"      value="front_cam/camera/color/image_raw"/>
          <param name="depth_image_topic"      value="front_cam/camera/depth/image_rect_raw"/>
          <param name="camera_rgb_info_topic"      value="front_cam/camera/color/camera_info"/>
          <param name="camera_depth_info_topic"    value="front_cam/camera/depth/camera_info"/>
          <param name="camera_stair_pose_topic"    value="front_cam/camera/stair_pose"/>
          <param name="camera_frame_id"    value="camera_aligned_depth_to_color_frame"/>

          <param name="image_resize_height"        value="480"/>
          <param name="image_resize_width"        value="848"/>

<!-- pre processing param -->
          <param name="image_resize_height"        value="480"/>
          <param name="image_resize_width"        value="848"/>
          <param name="canny_filter_low_threshold"        value="25"/>
          <param name="canny_filter_high_threshold"        value="40"/>
          <param name="hough_transform_threshold"          value="75"/>
          <param name="hough_transform_minumum_line_length"        value="40"/>
          <param name="hough_transform_maximum_line_point_gap"        value="5"/>
          <param name="noise_rm_pre_proc_index"        value="1"/>   <!-- 1 : dilation  2: eroding  3: no processing-->

<!-- set of ROI param -->
          <param name="minimum_number_of_lines_for_clustering"        value="3"/>
          <param name="predefined_roi_height"        value="200"/>
          <param name="predefined_roi_width"        value="200"/>

<!-- svm param -->
          <param name="offline_svm_training"        value="false"/>
          <param name="use_svm_classifier"        value="false"/>
          <param name="svm_model_dir"        value="/home/kangneoung/sw_repo/stair_detection/src/stair_detection/svm_train.xml"/>

<!-- rule base param -->
          <param name="stair_gradient_maximum_threshold"        value="1.85"/>
          <param name="stair_gradient_minimum_threshold"        value="0.35"/>

          <param name="rule_base_grad_diff_th_y3"        value="0.4"/>
          <param name="rule_base_grad_diff_th_y2"        value="0.3"/>
          <param name="rule_base_grad_diff_th_y1"          value="0.12"/>
          <param name="rule_base_grad_diff_th_x3"        value="1.7"/>
          <param name="rule_base_grad_diff_th_x2"        value="0.8"/>
          <param name="rule_base_grad_diff_th_x1"        value="0.3"/>

          <param name="rule_base_depth_y_error_th_y3"        value="3.5"/>
          <param name="rule_base_depth_y_error_th_y2"        value="2.5"/>
          <param name="rule_base_depth_y_error_th_y1"          value="1.2"/>
          <param name="rule_base_depth_y_error_th_x3"        value="1.7"/>
          <param name="rule_base_depth_y_error_th_x2"        value="0.9"/>
          <param name="rule_base_depth_y_error_th_x1"        value="0.3"/>
          
          <param name="depth_and_y_leastsquare_error_min_th"        value="0.2"/>


          <param name="implementation_on_jetson"    value="false"/>

<!-- staircase detection only using rgb -->
          <param name="use_only_rgb_to_detect_staircase"        value="false"/>
          <param name="min_numof_lines_4_cluster_rgb_only"        value="6"/>

<!-- online learning-->
         <param name="use_online_learning"        value="false"/>
	 <param name="number_of_queue_for_online_learning"        value="5"/>
	 <param name="probability_discard_th"        value="0.4"/>
         <param name="probability_scale_del_beta"        value="1.0"/>
	 <param name="probability_scale_del_gamma"        value="1.0"/>
	 <param name="probability_scale_del_x"        value="0.005"/>
	 <param name="probability_scale_del_y"        value="0.005"/>
	 <param name="online_detect_flag_reset_timer"        value="10"/>
		 
	 <param name="online_init_rule_base_grad_diff_th_y3"        value="0.4"/>
         <param name="online_init_rule_base_grad_diff_th_y2"        value="0.3"/>
          <param name="online_init_rule_base_grad_diff_th_y1"          value="0.12"/>
          <param name="online_init_rule_base_grad_diff_th_x3"        value="1.7"/>
          <param name="online_init_rule_base_grad_diff_th_x2"        value="0.8"/>
          <param name="online_init_rule_base_grad_diff_th_x1"        value="0.3"/>

          <param name="online_init_rule_base_depth_y_error_th_y3"        value="3.5"/>
          <param name="online_init_rule_base_depth_y_error_th_y2"        value="2.5"/>
          <param name="online_init_rule_base_depth_y_error_th_y1"          value="1.2"/>
          <param name="online_init_rule_base_depth_y_error_th_x3"        value="1.7"/>
          <param name="online_init_rule_base_depth_y_error_th_x2"        value="0.9"/>
          <param name="online_init_rule_base_depth_y_error_th_x1"        value="0.3"/>
          
          <param name="online_init_depth_and_y_leastsquare_error_min_th"        value="0.2"/>


<!-- offline test result parameter set -->
          <param name="offline_performance_test"        value="true"/>
          <param name="testing_set_rgb_dir"        value="/home/kangneoung/sw_repo/stair_detection/src/stair_detection/image_set/stair_case_tamu_art_lab/testing/true/long_stair"/>
          <param name="testing_set_depth_dir"      value="/home/kangneoung/sw_repo/stair_detection/src/stair_detection/image_set/stair_case_tamu_art_lab/testing/true/long_stair"/>
          <param name="result_save_dir"        value="/home/kangneoung/sw_repo/stair_detection/src/stair_detection/image_set/stair_case_tamu_art_lab/testing/true/long_stair_result_v2"/>
          <param name="testing_set_rgb_image_list_file"        value="test_rgb_img_file_list_filtered.txt"/>
          <param name="testing_set_depth_image_list_file"        value="test_depth_img_file_list_filtered.txt"/>

          <param name="coordinate_transform_needed" value ="false"/>
          <param name="depth_is_jpg_type" value ="false"/> 
          <param name="relative_depth_conv_weight"        value="-0.012"/>
          <param name="relative_depth_conv_bias"        value="3.5"/>
<!-- ccny red scale : -0.01875, 4.375   ccny gray scale : -0.012  3.5 -->
       
     </node>

</launch>
